home.html
.vs/Lab3Website.slnx/FileContentIndex/50af7102-dc34-4b06-8c71-cc941e8582bb.vsidx
.vs/Lab3Website.slnx/FileContentIndex/b038464f-fd8e-4438-8d24-edbd8943e71e.vsidx
.vs/Lab3Website.slnx/FileContentIndex/9307bc7e-41e5-4be4-9345-c320b8f10ddf.vsidx
.vs/Lab3Website.slnx/FileContentIndex/e03e53ec-f996-43fb-9185-bd2e7e83a1aa.vsidx
.vs/Lab3Website.slnx/FileContentIndex/2fa1f3be-f17d-4a42-b37f-5a09b31fa367.vsidx
.vs/Lab3Website.slnx/FileContentIndex/c85c8e41-0d6c-4122-b144-837408ac0ee8.vsidx
/.vs/Lab3Website.slnx/FileContentIndex
/.vs/Lab3Website.slnx/FileContentIndex
