<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Page</title>
</head>
<body>
    <header class="container-fluid d-flex justify-content-center" style="min-width: 450px;">
        <h1>Projects Page</h1>
    </header>

    <nav class="navbar bg-body-tertiary" style="min-width: 450px;">
        <form class="container-fluid d-flex align-items-center">

            <div style="width: 32px; height: 32px;"></div>

            <div class="mx-auto d-flex">
                <a class="btn btn-outline-success me-2" href="./home.html" role="button">Home</a>
                <a class="btn btn-outline-success me-2" href="./projects.html" role="button">Projects</a>
                <a class="btn btn-outline-success me-2" href="./hobbies.html" role="button">Hobbies</a>
            </div>

            <img src="../resources/img/Somalia.png" alt="Page Icon" width="32" hight="32">
        </form>
    </nav>


















<main>
    <div class="accordion">

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Pathfinding Algorithm
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="container row row-cols-2 align-items-center ms-auto">
                        <div style="max-width:300px;">
                            <img src="../resources/img/ProjectOne.png" style="max-width:280px;">
                        </div>
                        <div>
                            <strong>Pathfinding Project.</strong> This project focused on allowing a character on a 2D grid to find a path on a tilemap, following certain rules for which tiles can or cannot be accesed. Also Allows for visual representation of which times any one character can reach given they have enough movement remaining.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Bomb Project
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="container row row-cols-2 align-items-center ms-auto">
                        <div style="max-width:300px;">
                            <img src="../resources/img/Bomb.png" style="max-width:280px;">
                        </div>
                        <div>
                            <strong>Bomb Defusal Project</strong> This Project focuses on the skills required to take an .exe file and disassemble it and interpret its instructions without ever having to run it. Successful individuals will defuse the bomb when it runs, otherwise it will explode on you.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Arcade Game (WIP)
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="container row row-cols-2 align-items-center ms-auto">
                        <div style="max-width:300px;">
                            <img src="../resources/img/ArcadeGame.png" style="max-width:280px;">
                        </div>
                        <div>
                            <strong>Arcade Game Project Work-In-Progress</strong> This project is an attempt at making an arcade game. The game fits the theme and scale of those you would find in a traditional arcade machine from the 90's. Pew pew pew pew pew.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

            


















    <footer class="">

        <nav class="navbar bg-body-tertiary" style="min-width: 450px; max-height: 64px;">
            <form class="container-fluid d-flex align-items-center">

                <div style="width: 200px;">
                    <a>
                        <p>&copy; 2026 Alexander Morgan</p>
                    </a>
                </div>


                <div>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=RDdQw4w9WgXcQ&start_radio=1">
                        <i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i>
                    </a>

                    <a href="https://github.com/Sepiormon">
                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                    </a>
                </div>

                <div style="max-width: 200px;" class="d-flex">
                    <img src="../resources/img/Somalia.png" alt="Page Icon" width="32" hight="32" class="ms-auto">
                </div>


            </form>
        </nav>
    </footer>
</body>
</html>